#translationContainer{
	width: 100%;
	/*height: 600px;*/
	border: 1px solid #000;
	/*font-size: 2vw;*/  /*Setting dynamic font-size, see: https://developer.mozilla.org/en-US/docs/Web/CSS/length */
	position: relative;  /* This is needed because of the absolute position of the dropzone */
	/*background-image: url("img/sphere.jpg");*/
	/*background-color: #454E4F;*/

	overflow: hidden;  /* <---------  Denne skaber fejl!!!  */
}
.backgroundImg{
	position: absolute; 
	z-index: -1;
}

.adenin{
	
}
.cytosin{
	
}
.guanin{
	
}
.thymin, .uracil{
	
}

.codonAntiCodonWrap{
/*	
	margin-left: -3px;
    margin-right: -3px;
	width: 7.65%;
*/
/*
	margin-left: 0px;
    margin-right: 0px;
	width: 7.14285%;
*/

	margin-left: -0.3%;
    margin-right: -0.3%;
	width: 7.72%;

	height: 40%;
	display: inline-block;
	position: relative;
	/*top: 20%;*/
	margin-top: 15%;
	
}

div.codonAntiCodonWrap:nth-child(4){   /* This is the first .codonAntiCodonWrap */
	/*margin-left: 0px;*/
	margin-left: 2px;
	/*background: yellow;*/
}


/* .codonAntiCodonWrap .draggable_tRNA { */
.codonAntiCodonWrap .draggable_tRNA_clone {
	position: absolute;
	width: 254%;
	height: 100%;
	/*top: 12%;*/
	top: 12.5%;
	left: -110%;
	z-index: 1;
}

.codonAntiCodonWrap .tRNA_antiCodon_Wrap {
	/*position: relative;
	z-index: 1;
	width: 100%;
	top: 2%;
	left: 10%;
	padding-left: 31%;*/

	padding-left: 43%;
	position: relative;
    
    /*top: -1%;*/
    top: 1%;
}

.codonAntiCodonWrap .antiCodon {
	width: 23.666%;
	margin-left: -1.2px;
    margin-right: -1.2px;
    padding-left: 0;
    padding-right: 0;
}

.codonAntiCodonWrap .aminoAcid {
	border-radius: 50%; 
	padding: 13.2%; 
	/*font-size: 1em;*/
	font-weight: 800;
	position: relative;
	z-index: 1;
	margin-left: 28%;
    margin-top: 95%;
}


.templateStrandWrap{
	height: 50%;
	position: relative;
	top: 25%;
}
.templateStrand{
	position: relative;
	top: 50%;
}

.neucleotide{
	display: inline-block;
	height: 25%;
	width: 33.333%;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
    margin-left: -1px;
    margin-right: -1px;

    margin-left: -1.2%;
    margin-right: -1.2%;
}
#dropZone{
	border-radius: 4px;
	width: 7.5%;
	height: 40%;
	border: 2px dashed #FFF;
	position: absolute; /* This absolute position is possible because of the relative position of its parent (#translationContainer) */
	/*top: 50%;*/
	top: 25%;
	/*left: 49.5%;*/   /* <--- IMPORTANT - THIS VALUE IS SET INLINE BY JQuery in "correctmRnaNucleotide()"! NOTE: 50% = 5%*10 */
	left: 64%;
	z-index: 0;
	/*background-color: #f8f8f6;*/
}

.fadeOut{
	display: inline-block;
	width: 5%;
	height: 100%;
	position: absolute; 
	z-index: 10;
}
.fadeOut_left{   /*  #454E4F == 069078079,  #454C4C == 069076076  */
	background-color: #fff5cc;
	background: #FFF; /* For browsers that do not support gradients */
	/*background: -webkit-linear-gradient(right,rgba(255,255,255,0),rgba(255,255,255,1));*/ /*Safari 5.1-6*/
	/*background: -o-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));*/ /*Opera 11.1-12*/
	/*background: -moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));*/ /*Fx 3.6-15*/
	/*background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1));*/ /*Standard*/
	background: -webkit-linear-gradient(right,rgba(69,76,76,0),rgba(69,76,76,1)); /*Safari 5.1-6*/
	background: -o-linear-gradient(left,rgba69,76,76,0),rgba(69,76,76,1)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(left,rgba(69,76,76,0),rgba(69,76,76,1)); /*Fx 3.6-15*/
	background: linear-gradient(to left, rgba(69,76,76,0), rgba(69,76,76,1)); /*Standard*/
}
.fadeOut_right{ 
	left: 95%;
	background: #FFF; /* For browsers that do not support gradients */
	/*background: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));*/ /*Safari 5.1-6*/
	/*background: -o-linear-gradient(right,rgba(255,255,255,0),rgba(255,255,255,1));*/ /*Opera 11.1-12*/
	/*background: -moz-linear-gradient(right,rgba(255,255,255,0),rgba(255,255,255,1));*/ /*Fx 3.6-15*/
	/*background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));*/ /*Standard*/
	background: -webkit-linear-gradient(left,rgba(69,76,76,0),rgba(69,76,76,1)); /*Safari 5.1-6*/
	background: -o-linear-gradient(right,rgba(69,76,76,0),rgba(69,76,76,1)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(right,rgba(69,76,76,0),rgba(69,76,76,1)); /*Fx 3.6-15*/
	background: linear-gradient(to right, rgba(69,76,76,0), rgba(69,76,76,1)); /*Standard*/
}
.draggable_neucleotide{
	/*width: 5%;*/
	width: 2.5%;
	height: 10%;
	position: absolute;
	z-index: 15;
}


.neucleotide {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

/************************************************************************************************************
											TRANSLATION  CODE
************************************************************************************************************/

.draggable_tRNA, #tRNA_free{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

.container-fluid{
	position: relative;
}

.draggable_tRNA, #tRNA_free{
	/*display: inline-block;*/
	width: 20%;
	height: 60%;
	/*position: absolute;*/
	/*height: 50%;*/
}

.reduceSize {
	height: 42%;  	/* 60% * 0.7 = 42% */
    width: 14%; 	/* 20% * 0.7 = 14% */
}


#tRNA_free {

}


.tRNA_body{
	position: relative;
	height: 100%;
}

.tRNA_img{
	position: absolute;
	z-index: 0;
	top: 11%;
}


.tRNA_antiCodon_Wrap{
	
	position: relative;
	z-index: 1;
	width: 100%;
	/*top: 3%;*/
	top: 4%;
	/*left: 10%;*/
	padding-left: 41.2%;
}



.antiCodon{
	display: inline-block;
	width: 18.666%;
	width: 23%;

    padding-left: 0px;
	padding-right: 0px;
    margin-left: -1px;
    margin-right: -1px;

   /* width: 2.5%;*/
}

.antiCodon.uracil{
	 /*padding-top: 6%;*/
}

.antiCodon.cytosin{
	/*padding-top: 6%;*/
}

.antiCodon.guanin{
	/*padding-top: 6%;*/
}
.antiCodon.adenin{
	/*margin-top: 2%;*/
	position: relative;
	/*top: 6%;*/
}

.antiCodonBase1{
	/*margin-left: 30%;*/
}


.aminoAcid {
	/*width: 36.5%;*/
	display: inline-block;
	border-radius: 50%; 
	padding: 13.2%; 
	font-size: 1em;
	font-weight: 800;
	position: relative;
	z-index: 1;
	/*margin-top: 95%;*/
	margin-top: 100%;
	margin-left: 28%;
}

.aminoAcid_free{
	/*width: 5%;*/
	display: inline-block;
	border-radius: 50%; 
	padding: 2.5%; 
	font-size: 1em;
	font-weight: 800;
	position: absolute;
	z-index: 1;

	top: 100%;
	left: -42%;
	padding: 33.5%; 
}		

.tRNA .alanin, .aminoAcid_free.alanin{ background-color: #754277;  color: #FFF;}        
.tRNA .arginin, .aminoAcid_free.arginin{ background-color: #7CC424;}       
.tRNA .asparagin, .aminoAcid_free.asparagin{ background-color: #156AFA;  color: #FFF;}		
.tRNA .asparaginsyre, .aminoAcid_free.asparaginsyre{ background-color: #E4761F;}
.tRNA .cystein, .aminoAcid_free.cystein{ background-color: #2DFEFD;}
.tRNA .glutamin, .aminoAcid_free.glutamin{ background-color: #FB101B;}
.tRNA .glutaminsyre, .aminoAcid_free.glutaminsyre{ background-color: #C5945F;}
.tRNA .glycin, .aminoAcid_free.glycin{ background-color: #CC68D4;}		
.tRNA .histidin, .aminoAcid_free.histidin{ background-color: #1FC690;}
.tRNA .isoleucin, .aminoAcid_free.isoleucin{ background-color: #E56455;}
.tRNA .leucin, .aminoAcid_free.leucin{ background-color: #C2F2A9;}
.tRNA .lysin, .aminoAcid_free.lysin{ background-color: #EF6CAF;}	
.tRNA .methionin, .aminoAcid_free.methionin{ 
	/*background-color: #E6B4A8;*/
	background-color: #73f9a9;
}
.tRNA .fenylalanin, .aminoAcid_free.fenylalanin{ background-color: #3C8213; color: #FFF;}
.tRNA .prolin, .aminoAcid_free.prolin{ background-color: #978D71;}		
.tRNA .serin, .aminoAcid_free.serin{ background-color: #2F7985;  color: #FFF;}			
.tRNA .threonin, .aminoAcid_free.threonin{ background-color: #82F8B3;}
.tRNA .tryptofan, .aminoAcid_free.tryptofan{ background-color: #999AD3;}
.tRNA .tyrosin, .aminoAcid_free.tyrosin{ background-color: #063E77;  color: #FFF;}
.tRNA .valin, .aminoAcid_free.valin{ background-color: #F8F135;}


#curvatureSquare{

}


/*#codonAntiCodonWrap_container{
	position: absolute;
	width: 100%;
}*/


/***************************************************************************************************************************************   
														LABELS IN START OVERLAY   
****************************************************************************************************************************************/


#ribosome_largeUnit {
    position: absolute;
    left: 76%;
    top: 73%;
    z-index: 2;
}


#ribosome_smallUnit {
    position: absolute;
    left: 76%;
    top: 14%;
    z-index: 2;
}


#tRNA_label {
    position: absolute;
    left: 45%;
    top: 47%;
    z-index: 2;
}


#mRNA_label{
    position: absolute;
    left: 20%;
    top: 20%;
    z-index: 2;
}

#aminoAcid_label{
    position: absolute;
    left: 48%;
    top: 68%;
    z-index: 2;
}

#startCodon_label {
	position: absolute;
    left: 56.5%;
    top: 20%;
    z-index: 2;
}

#antiCodon_label {
	position: absolute;
    left: 56.7%;
    top: 33%;
    z-index: 2;
}

#dropzone_label{
	position: absolute;
	left: 80%;
	top: 50%;
	z-index: 2;
}


#startBtn{
	position: absolute;
	right: 2%;
	bottom: 5%;
	z-index: 11;
	margin-bottom: 0px;
}


.overlayPressed{
	border: 1px solid #05a0a8;
}

/*
#translationContainer.ajustment #codonAntiCodonWrap_0{
	background-color: yellow;
}
*/



/***************************************************************************************************************************************   
															MEDIA QUERIES   
****************************************************************************************************************************************/


@media all and (max-width: 1170px) {
    
    .aminoAcid, .aminoAcid_free {
    	font-size: 1.2vw;
    }

    .start_label {
        font-size: 1.3vw;
        color: #333;
        font-weight: 400;
    }

    #startBtn{
    	font-size: 1.5vw;
    }
}

@media all and (min-width: 1171px) {
    .aminoAcid, .aminoAcid_free {
        font-size: 14px;
    }

    .start_label {
        font-size: 14px;
        color: #333;
        font-weight: 400;
    }

    #startBtn{
    	font-size: 20px;
    }
}

