#translationContainer{
	width: 100%;
	/*height: 600px;*/
	border: 1px solid #000;
	/*font-size: 2vw;*/  /*Setting dynamic font-size, see: https://developer.mozilla.org/en-US/docs/Web/CSS/length */
	position: relative;  /* This is needed because of the absolute position of the dropzone */
	/*background-image: url("img/sphere.jpg");*/
	/*background-color: #454E4F;*/
}
.backgroundImg{
	position: absolute; 
	z-index: -1;
}

.adenin{
	/*background-color: #990000;*/
}
.cytosin{
	/*background-color: #0000cc;*/
}
.guanin{
	/*background-color: #6666ff;*/
}
.thymin, .uracil{
	/*background-color: #ff3333;*/
}

.basePairWrap{
	/*width: 5%;*/
	width: 2.5%;
	height: 40%;
	display: inline-block;
	position: relative;
	top: 30%;
}
/*
.templateStrand{
	position: relative;
}
.codingStrand{
	position: relative;
	top: 50%;
}
*/
.codingStrand{
	position: relative;
}
.templateStrandWrap{
	height: 50%;
	position: relative;
	top: 25%;
}
.templateStrand{
	position: relative;
	top: 50%;
}

.neucleotide{
	height: 25%;
	/*border: 1px solid #000;*/
	text-align: center;
	font-size: 2.5vw;  /*Setting dynamic font-size, see: https://developer.mozilla.org/en-US/docs/Web/CSS/length */
	padding-left: 0px;
	padding-right: 0px;
    margin-left: -1px;
    margin-right: -1px;
}
#dropZone{
	border-radius: 4px;
	width: 5%;
	/*height: 10%;*/
	height: 11%;
	border: 2px dashed #FFF;
	position: absolute; /* This absolute position is possible because of the relative position of its parent (#translationContainer) */
	/*top: 50%;*/
	top: 49%;
	left: 50%;   /* <--- IMPORTANT - THIS VALUE IS SET INLINE BY JQuery in "correctmRnaNucleotide()"! NOTE: 50% = 5%*10 */
	z-index: 0;
	/*background-color: #f8f8f6;*/
}

.fadeOut{
	display: inline-block;
	width: 5%;
	height: 100%;
	position: absolute; 
	z-index: 10;
}
.fadeOut_left{   /*  #454E4F == 069078079,  #454C4C == 069076076  */
	background-color: #fff5cc;
	background: #FFF; /* For browsers that do not support gradients */
	/*background: -webkit-linear-gradient(right,rgba(255,255,255,0),rgba(255,255,255,1));*/ /*Safari 5.1-6*/
	/*background: -o-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));*/ /*Opera 11.1-12*/
	/*background: -moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));*/ /*Fx 3.6-15*/
	/*background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1));*/ /*Standard*/
	background: -webkit-linear-gradient(right,rgba(69,76,76,0),rgba(69,76,76,1)); /*Safari 5.1-6*/
	background: -o-linear-gradient(left,rgba69,76,76,0),rgba(69,76,76,1)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(left,rgba(69,76,76,0),rgba(69,76,76,1)); /*Fx 3.6-15*/
	background: linear-gradient(to left, rgba(69,76,76,0), rgba(69,76,76,1)); /*Standard*/
}
.fadeOut_right{ 
	left: 95%;
	background: #FFF; /* For browsers that do not support gradients */
	/*background: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));*/ /*Safari 5.1-6*/
	/*background: -o-linear-gradient(right,rgba(255,255,255,0),rgba(255,255,255,1));*/ /*Opera 11.1-12*/
	/*background: -moz-linear-gradient(right,rgba(255,255,255,0),rgba(255,255,255,1));*/ /*Fx 3.6-15*/
	/*background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));*/ /*Standard*/
	background: -webkit-linear-gradient(left,rgba(69,76,76,0),rgba(69,76,76,1)); /*Safari 5.1-6*/
	background: -o-linear-gradient(right,rgba(69,76,76,0),rgba(69,76,76,1)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(right,rgba(69,76,76,0),rgba(69,76,76,1)); /*Fx 3.6-15*/
	background: linear-gradient(to right, rgba(69,76,76,0), rgba(69,76,76,1)); /*Standard*/
}
.draggable_neucleotide{
	/*width: 5%;*/
	width: 2.5%;
	height: 10%;
	position: absolute;
	z-index: 15;
}

.templateStrandWrap{
	/*border: 1px solid #F00;*/
}
.templateStrand.thymin{
	
}

.templateStrand.cytosin{
	
}

.templateStrand.guanin{
	/*position: absolute;*/
	
}
.templateStrand.adenin{
	/*position: absolute;*/
	
}

.mRNA_string{
	/*position: relative;*/
	z-index: 0;
}

.mRNA_string.uracil{

}

.mRNA_string.cytosin{

}

.mRNA_string.guanin{

}
.mRNA_string.adenin{

}

.neucleotide {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

/************************************************************************************************************
											TRANSLATION  CODE
************************************************************************************************************/

.container-fluid{
	position: relative;
}

.draggable_tRNA{
	display: inline-block;
	width: 25%;
	position: relative;;
}

.tRNA_body{
	position: relative;
}

.tRNA_img{
	position: relative;
	z-index: 0;
}

.tRNA_antiCodon_Wrap{
	display: inline-block;
	padding-left: 35%;
	position: relative;
	z-index: 0;
}

.antiCodon{
	display: inline-block;
	width: 13%;
}

.antiCodon.uracil{
	 padding-top: 0%;
}

.antiCodon.cytosin{
	padding-top: 2%;
}

.antiCodon.guanin{
	padding-top: 2%;
}
.antiCodon.adenin{
	margin-top: 2%;
	position: relative;
	top: 16%;
}